@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.table thead{
    font-family: "Montserrat", helvetica, arial, sans-serif;
    background-color: #ECEEEF;
    color: rgb(110, 110, 110);
    font-size: 1.5em;
}

.table tbody{
    font-family: "Montserrat", helvetica, arial, sans-serif;
    color: #373A3C;
    font-size: 1.25em;
}

td {
    height:50px;
    vertical-align: middle !important;
}
